@{
    ViewData[""] = "Portfolio";
}

<div id="grey-back">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <img src="img/Sample_User_Icon.png" style="height: 155px; width: 155px" alt="Stanley">
          <h1>Hi, I am Amirxan!</h1>
          <p>
              Hello everybody. I'm Dzhunushodzhaev Amirxan, an Web Developer.
              Welcome to my site. <br> You can see different information on my website
              <br>If you want to find me and you can see links in bottom site.<br>
          </p>
        </div>
      </div>
    </div>
</div>
  <div class="container padding">
    <div class="row margin centered">
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Air-force.jpeg" alt="" /></a>
        <p>Nike Air Force 1</p>
      </div>
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Dunk Hugh Retro.jpeg" alt="" /></a>
        <p>Instagram Clone</p>
      </div>
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Jordan-whynotzer0-4.jpeg" alt="" /></a>
        <p>Jordan (Why not?)</p>
      </div>
    </div>
    <div class="row margin centered">
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Air Max 90.jpeg" alt="" /></a>
        <p>Telegram Bot</p>
      </div>
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Air Zoom.jpeg" alt="" /></a>
        <p>Air Zoom</p>
      </div>
      <div class="col-lg-4">
        <a href="work01.html"><img class="img-responsive" src="img/portfolio/Zoom Freak 3.jpeg" alt="" /></a>
        <p>Zoom Freak 3</p>
      </div>
    </div>
  </div>